package views

import "github.com/opoccomaxao/mylittlefleet/pkg/models"

templ EnabledBadge(enabled bool) {
	if enabled {
		<span class="badge bg-success">Enabled</span>
	} else {
		<span class="badge bg-danger">Disabled</span>
	}
}

templ ContainerStatusBadge(status models.ContainerStatus) {
	<span class={ "badge", "bg-"+status.BSSubClass() }>{ status.String() }</span>
}
