package views

import "fmt"

var headOnce = templ.NewOnceHandle()

templ Head(title string) {
	@headOnce.Once() {
		<head>
			<title>{ title }</title>
			<script src="/assets/htmx.min.js"></script>
			<script src="/assets/bootstrap.min.js"></script>
			<link rel="stylesheet" href="/assets/bootstrap.min.css"/>
		</head>
	}
}

templ RichError(err error) {
	if err != nil {
		<div class="alert alert-danger" role="alert">
			{ fmt.Sprintf("%+v", err) }
		</div>
	}
}
